{{ define "main" }}
<main class="fade">

  <h2><a href="{{ .CurrentSection.RelPermalink }}">{{ .CurrentSection.LinkTitle }}</a> : <br> {{ .Title }}</h2>

  {{ range $index, $element := sort (where (.Resources.ByType "image") "Params.weight" ">=" 0) "Params.weight" }}
  <div class="post-item">

    <div class="post-image">
      <div class="post-image-wrapper lazyload"
        style="padding-top: calc(100% * {{ $element.Height }} / {{ $element.Width }}); background: url({{ $element.RelPermalink }}); background-position: center; background-size: cover;">
      </div>
    </div>

    <div class="post-counter"><span class="arrow">←</span>{{ add $index 1 }}</div>

  </div>
  {{ end }}

  <div class="top">
    <div><span class="arrow">↑</span><a href="#">Back To Top</a></div>
    <div>© Copyright 2020</div>
  </div>
</main>
{{ end }}
