<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>
    {{ block "title" . }}
    {{ .Site.Title }}
    {{ end }}
  </title>
  <link rel="stylesheet" href="{{ "css/style.css" | relURL }}">
  <link rel="icon" href="{{ "img/favicon.png" | relURL }}" type="image/png" sizes="16x16">
</head>

<body>
  {{ block "header" . }}
  <header>
    <div class="title">
      <a href="/">
        <h1>{{ .Site.Title }}</h1>
      </a>
      <span>:</span>
      <marquee>{{ .Site.Params.Status }}</marquee>
    </div>
    <nav>
      <a href="/photos">Photos</a>, <a href="/information">Information</a>, <a
        href="mailto: theflomon@gmail.com">Email</a> </nav>
  </header>
  {{ end }}

  {{ block "main" . }}{{ end }}
</body>

</html>