{{ define "main" }}
<main>

  {{ $country := index (.GetTerms "countries") 0 }}

  <h2><a href="{{ $country.Permalink }}">{{ $country.LinkTitle }}</a> : <br> {{ .Title }}</h2>

  {{ range $index, $element := sort (where (.Resources.ByType "image") "Params.weight" ">=" 0) "Params.weight" }}
  <div class="post-item">

    <div class="post-image">
      <img src="{{ $element.RelPermalink }}" alt="{{ $element.Name }}"
        style="height: 100%; width: 100%; object-fit: cover" class="fade">
    </div>

    <div class="post-counter"><span class="arrow">←</span>{{ add $index 1 }}</div>

  </div>
  {{ end }}

</main>
{{ end }}
