{{ define "main" }}

{{ $terms := .Data.Terms.Alphabetical }}
{{ $recentSize := 3 }}

<main>

  <br />

  {{ $termsWithDate := slice }}

  {{ range .Data.Terms.TaxonomyArray }}

  {{ (index .Pages 0).Date }}

  {{ $termsWithDate | append dict "Date" (index .Pages.ByDate 0).Date }}

  {{ end }}

  {{ range sort $termsWithDate .Date }}
  {{ . }} <br />
  {{ end }}

  <h2>
    Recent :<br />
    {{ range $index, $element := first $recentSize $terms }}
    <a href="{{ $element.Page.Permalink }}">
      {{ $element.Page.Title }}<sup>({{ $element.Count }})</sup></a
      >{{ with (ne $index (sub $recentSize 1)) }},{{ end }}
    {{ end }}

    <br />
    <br />

    Previous :<br />
    {{ range $index, $element := after $recentSize $terms }}
    <a href="{{ $element.Page.Permalink }}">
      {{ $element.Page.Title }}<sup>({{ $element.Count }})</sup></a
      >{{ with (ne $index (sub (len $terms) (add $recentSize 1))) }},{{ end }}
    {{ end }}

  </h2>
</main>

{{ end }}
