{{ define "main" }}

{{ $terms := sort .Data.Terms.TaxonomyArray ".Page.Date" "desc" }}
{{ $recentSize := 3 }}

<main>

  <h2>
    Recent :<br />
    {{ range $index, $element := first $recentSize $terms }}
    <a href="{{ $element.Page.Permalink }}">
      {{ $element.Page.Title }}<sup>({{ $element.Count }})</sup></a
      >{{ with (ne $index (sub $recentSize 1)) }},{{ end }}
    {{ end }}

    <br />
    <br />

    Previous :<br />
    {{ range $index, $element := after $recentSize $terms }}
    <a href="{{ $element.Page.Permalink }}">
      {{ $element.Page.Title }}<sup>({{ $element.Count }})</sup></a
      >{{ with (ne $index (sub (len $terms) (add $recentSize 1))) }},{{ end }}
    {{ end }}

  </h2>
</main>

{{ end }}
